<h1>Welcome to the Football App</h2>

<p>This is an evolving football app that will revolve around all things NFL.</p>
<p>Including, but not limited:
	<ul>
		<li>Information about all of the teams in the league</li>
		<li>Database of all 2014 games played</li>
		<li>Point spread information for those 2014 games</li>
		<li>Information about the coaches who made it to the 2014 playoffs</li>
		<li>Users who will have the ability to make predictions about games</li>
		<li>Analytics about the top performing teams & user predictions</li>
	</ul>
</p>

<p>Version 1
	<ul>
		<li>Will start out having a home page with a link to a teams page.</li>
		<li>The team page will consist of links to all 32 teams in the NFL</li>
	</ul>
</p>

<p>
	<%= link_to "Check out my teams page", teams_path %>
</p>